Django<3
sentry-sdk
psycopg2-binary
gunicorn
stripe
django-crispy-forms
django-countries
django-mathfilters
django-phonenumber-field[phonenumbers]
python-dateutil
pywebpush
django-xff
inflect
django_idempotency_key
plaid-python
requests-oauthlib
django-cockroachdb==2.2.*
git+https://github.com/AS207960/python-utils@a52cbfd374da96b68db0e152b980647ec938fcfe
pylatex
gocardless_pro
schwifty
cryptography
protobuf
zeep
pika
