Django<3
git+https://github.com/TheEnbyperor/django-keycloak-auth@98c9f2754c398f20a8bc1d9f9c712440f1e603a0
sentry-sdk
psycopg2-binary
gunicorn
stripe
django-crispy-forms
django-countries
django-mathfilters
django-phonenumber-field[phonenumbers]
python-dateutil
pywebpush
django-xff
inflect
django_idempotency_key
plaid-python
requests-oauthlib