Django==5.0.*
sentry-sdk
psycopg2-binary
gunicorn
stripe
django-crispy-forms
django-countries
django-mathfilters
django-phonenumber-field[phonenumbers]
python-dateutil
pywebpush
django-xff
inflect
django_idempotency_key
plaid-python
requests-oauthlib
django-cockroachdb==5.0.*
git+https://github.com/AS207960/python-utils@da5df1c1b526b678891d19a2dbf77e299e50ede0
pylatex
git+https://github.com/gocardless/gocardless-pro-python@v1.25.0
schwifty
cryptography
protobuf
zeep
pika
django-stubs
mypy
asgiref
requests
django-storages
boto3
