{% extends "billing_email/email_base.html" %}
{% load mathfilters %}
{% block content %}
    <p>
        Hello {{ name }},
    </p>
    <p>
        Just to let you know your {{ item.type_name }} has been updated.
    </p>
    {% include "billing_email/item_card.html" with item=item %}
    {% if charge_state_error %}
        <div style="background:#fad8d8;border-radius:5px;padding:10px;margin-top: 20px;">
            <p>
                Last error: {{ charge_state_error }}
            </p>
        </div>
    {% endif %}
    {% if charge_state_url %}
         <a href="{{ charge_state_url }}"
           style="color: #fff;background-color: #3182CE;text-align: center;text-decoration: none;box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);border-radius: .5rem;display: block;padding: 0.5rem 1rem;font-size: 1.25rem;line-height: 1.5;margin-top: 15px;">
            Continue with your order
        </a>
        <script type="application/ld+json">
            {
                "@context": "http://schema.org",
                "@type": "EmailMessage",
                "potentialAction": {
                    "@type": "ViewAction",
                    "name": "Continue with your order",
                    "url": "{{ charge_state_url }}"
                },
                "description": "Continue with your order on our billing site",
                "publisher": {
                    "@type": "Organization",
                    "name": "AS207960 / Glauca",
                    "url": "https://as207960.net"
                }
            }
        </script>
    {% endif %}
    <p>
        You can always view your account at <a href="https://billing.as207960.net">billing.as207960.net</a>.
    </p>
{% endblock %}
