{% extends "billing_email/email_base.html" %}
{% block content %}
    <p>
        Hello {{ name }},
    </p>
    <p>
        Your account balance with us is currently negative. We tried to bring that back up to a positive balance,
        however that charge failed.
    </p>
    <p>
        The reason for the failure is: {{ reason }}
    </p>
    <p>
        If your account balance continues to stay negative services associated with your account will be placed on hold/deleted.
        Please to go <a href="https://billing.as207960.net">billing.as207960.net</a> to top-up your account or add a
        default card for future payments.
    </p>
{% endblock %}
