{% extends "billing_email/email_base.html" %}
{% block content %}
    <p>
        Hello {{ name }},
    </p>
    <p>
        The subscription payment of &pound;{{ value|floatformat:2 }}, for {{ plan_name }} has failed.
        Please go to <a href="https://billing.as207960.net">billing.as207960.net</a> to top-up
        your account or add a default card for future payments.
    </p>
    <p>
        The reason for the failure is: {{ reason }}
    </p>
    <p>
        We'll retry the payment, however if it consistently fails the subscription will be cancelled,
        and the resources associated with it placed on hold/deleted.
    </p>
{% endblock %}
