<html lang="en">
<body style="padding: 0;margin: 0;">
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" type="text/css">
<div style="background: #2a4365; font-family: 'Montserrat', sans-serif;height: 100% !important;width: 100% !important;">
    <div style="padding: 40px;">
        <table role="presentation"
               style="margin: 0 auto; border-radius: 5px; background: #fff; max-width: 600px; width:100%; border: 1px solid #c7d0d4; border-spacing: 0;">
            <tr>
                <td style="border-bottom: 1px solid #dee7eb; text-align: center;padding: 20px 0;">
                    <img src="https://as207960.net/assets/img/logo2.png" height="150px" alt="AS20796 / Glauca"/>
                    {% if subject %}
                        <h1 style="margin-bottom: 0;">{{ subject }}</h1>
                    {% endif %}
                    <h2 style="margin-top: 0;">AS207960 / Glauca Billing</h2>
                </td>
            </tr>
            <tr>
                <td style="padding: 20px;">
                    {% block content %}{% endblock %}
                    <p>
                        Thanks,<br/>
                        The AS207960 / Glauca Team<br/>
                        <a href="https://as207960.net">as207960.net</a>
                        <a href="https://glauca.digital">glauca.digital</a>
                    </p>
                    <p>
                        AS207960 Cyfyngedig, trading as Glauca Digital, having a registered office at 13 Pen-y-lan
                        Terrace, Caerdydd, Cymru, CF23 9EU, is:
                    </p>
                    <ul>
                        <li>
                            a limited company registered in Wales (&#x2116; 12417574)
                        </li>
                        <li>
                            a registered data controller with the Information Commissioner's Office (&#x2116; ZA782876)
                        </li>
                        <li>
                            registered for VAT in the EU (&#x2116; EU372013983)
                        </li>
                    </ul>
                </td>
            </tr>
        </table>
    </div>
</div>
</body>
</html>