{% extends 'billing/base.html' %}
{% load mathfilters %}
{% block content %}
    <div class="container my-3">
        <h1>Account details</h1>
        {% if error %}
            <div class="alert alert-danger">
                <h4 class="alert-heading">Oh no! &#x1f631;</h4>
                <p>{{ error }}</p>
            </div>
        {% endif %}
        <h2>Saved cards &#x1f4b3;</h2>
        <div class="table-responsive table-striped table-hover table-striped">
            <table class="table">
                <thead class="thead-dark">
                <tr>
                    <th>Billing name</th>
                    <th>Brand</th>
                    <th>Last 4 digits</th>
                    <th>Expiry</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                {% if cards %}
                    {% for card in cards %}
                        <tr>
                            <td>
                                {{ card.billing_details.name }}
                                {% if card.id == user.account.default_stripe_payment_method_id %}
                                    <span class="badge badge-info">Default</span>
                                {% endif %}
                            </td>
                            <td>{{ card.card.brand|upper }}</td>
                            <td>*** *** **** {{ card.card.last4 }}</td>
                            <td>{{ card.card.exp_month|stringformat:"02d" }} / {{ card.card.exp_year }}</td>
                            <td>
                                <form action="{% url 'edit_card' card.id %}" method="post">
                                    {% csrf_token %}
                                    <div class="btn-group">
                                        <a href="{% url 'edit_card' card.id %}" class="btn btn-info btn-sm">
                                            &#x1f58a; Edit
                                        </a>
                                        {% if card.id != user.account.default_stripe_payment_method_id %}
                                            <button type="submit" class="btn btn-primary btn-sm" name="action"
                                                    value="default">
                                                &#x1f4b8; Make default
                                            </button>
                                        {% endif %}
                                        <button type="submit" class="btn btn-danger btn-sm" name="action"
                                                value="delete">
                                            &#x1f5d1; Delete
                                        </button>
                                    </div>
                                </form>
                            </td>
                        </tr>
                    {% endfor %}
                {% else %}
                    <tr>
                        <td colspan="5">No saved cards</td>
                    </tr>
                {% endif %}
                <tr>
                    <td colspan="5" class="text-center">
                        <a href="{% url 'add_card' %}" class="btn btn-success btn-sm">
                            &#x1f195; Add new card &#x1f195;
                        </a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <hr>
        <h2>ACH Direct Debit Mandates &#x1f4b5;</h2>
        <div class="table-responsive">
            <table class="table table-striped table-hover">
                <thead class="thead-dark">
                <tr>
                    <th>Account number</th>
                    <th>Account type</th>
                    <th>Bank</th>
                    <th>Reference</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                {% if ach_mandates %}
                    {% for mandate in ach_mandates %}
                        <tr>
                            <td>****{{ mandate.last4 }}</td>
                            <td>{% if mandate.account_type == "checking" %}
                                Checking{% elif mandate.account_type == "savings" %}Savings{% endif %}</td>
                            <td>{{ mandate.bank }}</td>
                            <td>{{ mandate.ref }}</td>
                            <td>
                                <form action="{% url 'edit_ach_mandate' mandate.id %}" method="post">
                                    {% csrf_token %}
                                    <div class="btn-group">
                                        <a href="{{ mandate.url }}"
                                           class="btn btn-info btn-sm">&#x1f440; View mandate</a>
                                        {% if not mandate.is_default and mandate.active %}
                                            <button type="submit" class="btn btn-primary btn-sm" name="action"
                                                    value="default">
                                                &#x1f4b8; Make default
                                            </button>
                                        {% endif %}
                                        <button type="submit" class="btn btn-danger btn-sm" name="action"
                                                value="delete">
                                            &#x1f5d1; Delete
                                        </button>
                                    </div>
                                </form>
                            </td>
                        </tr>
                    {% endfor %}
                {% else %}
                    <tr>
                        <td colspan="5">No mandates</td>
                    </tr>
                {% endif %}
                <tr>
                    <td colspan="5" class="text-center">
                        <a href="{% url 'top_up_new_ach' %}" class="btn btn-success btn-sm">
                            &#x1f195; New mandate &#x1f195;
                        </a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <hr>
        <h2>Autogiro Mandates &#x1f3e6;</h2>
        <div class="table-responsive">
            <table class="table table-striped table-hover">
                <thead class="thead-dark">
                <tr>
                    <th>Account number</th>
                    <th>Bank</th>
                    <th>Reference</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                {% if autogiro_mandates %}
                    {% for mandate in autogiro_mandates %}
                        <tr>
                            <td>****{{ mandate.last4 }}</td>
                            <td>{{ mandate.bank }}</td>
                            <td>{{ mandate.ref }}</td>
                            <td>
                                <form action="{% url 'edit_autogiro_mandate' mandate.id %}" method="post">
                                    {% csrf_token %}
                                    <div class="btn-group">
                                        <a href="{{ mandate.url }}"
                                           class="btn btn-info btn-sm">&#x1f440; View mandate</a>
                                        {% if not mandate.is_default and mandate.active %}
                                            <button type="submit" class="btn btn-primary btn-sm" name="action"
                                                    value="default">
                                                &#x1f4b8; Make default
                                            </button>
                                        {% endif %}
                                        <button type="submit" class="btn btn-danger btn-sm" name="action"
                                                value="delete">
                                            &#x1f5d1; Delete
                                        </button>
                                    </div>
                                </form>
                            </td>
                        </tr>
                    {% endfor %}
                {% else %}
                    <tr>
                        <td colspan="4">No mandates</td>
                    </tr>
                {% endif %}
                <tr>
                    <td colspan="4" class="text-center">
                        <a href="{% url 'top_up_new_autogiro' %}" class="btn btn-success btn-sm">
                            &#x1f195; New mandate &#x1f195;
                        </a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <hr>
        <h2>BACS Direct Debit Mandates &#x1f3e6;</h2>
        <div class="table-responsive">
            <table class="table table-striped table-hover">
                <thead class="thead-dark">
                <tr>
                    <th>Account number</th>
                    <th>Bank</th>
                    <th>Reference</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                {% if bacs_mandates %}
                    {% for mandate in bacs_mandates %}
                        <tr>
                            <td>
                                ****{{ mandate.last4 }}
                                {% if mandate.status == "pending" %}
                                    <span class="badge badge-warning">Pending</span>
                                {% elif mandate.status == "revoked" %}
                                    <span class="badge badge-danger">Revoked</span>
                                {% elif mandate.status == "refused" %}
                                    <span class="badge badge-danger">Refused</span>
                                {% endif %}
                                {% if mandate.is_default %}
                                    <span class="badge badge-info">Default</span>
                                {% endif %}
                            </td>
                            <td>{{ mandate.bank }}</td>
                            <td>{{ mandate.ref }}</td>
                            <td>
                                <form action="{% url 'edit_bacs_mandate' mandate.id %}" method="post">
                                    {% csrf_token %}
                                    <div class="btn-group">
                                        <a href="{{ mandate.url }}"
                                           class="btn btn-info btn-sm">&#x1f440; View mandate</a>
                                        {% if not mandate.is_default and mandate.active %}
                                            <button type="submit" class="btn btn-primary btn-sm" name="action"
                                                    value="default">
                                                &#x1f4b8; Make default
                                            </button>
                                        {% endif %}
                                        <button type="submit" class="btn btn-danger btn-sm" name="action"
                                                value="delete">
                                            &#x1f5d1; Delete
                                        </button>
                                    </div>
                                </form>
                            </td>
                        </tr>
                    {% endfor %}
                {% else %}
                    <tr>
                        <td colspan="4">No mandates</td>
                    </tr>
                {% endif %}
                <tr>
                    <td colspan="4" class="text-center">
                        <a href="{% url 'top_up_new_bacs' %}" class="btn btn-success btn-sm">
                            &#x1f195; New mandate &#x1f195;
                        </a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <hr>
        <h2>BECS Direct Debit Mandates &#x1f3e6;</h2>
        <div class="table-responsive">
            <table class="table table-striped table-hover">
                <thead class="thead-dark">
                <tr>
                    <th>Account number</th>
                    <th>Bank</th>
                    <th>Reference</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                {% if becs_mandates %}
                    {% for mandate in becs_mandates %}
                        <tr>
                            <td>****{{ mandate.last4 }}</td>
                            <td>{{ mandate.bank }}</td>
                            <td>{{ mandate.ref }}</td>
                            <td>
                                <form action="{% url 'edit_becs_mandate' mandate.id %}" method="post">
                                    {% csrf_token %}
                                    <div class="btn-group">
                                        <a href="{{ mandate.url }}"
                                           class="btn btn-info btn-sm">&#x1f440; View mandate</a>
                                        {% if not mandate.is_default and mandate.active %}
                                            <button type="submit" class="btn btn-primary btn-sm" name="action"
                                                    value="default">
                                                &#x1f4b8; Make default
                                            </button>
                                        {% endif %}
                                        <button type="submit" class="btn btn-danger btn-sm" name="action"
                                                value="delete">
                                            &#x1f5d1; Delete
                                        </button>
                                    </div>
                                </form>
                            </td>
                        </tr>
                    {% endfor %}

                {% else %}
                    <tr>
                        <td colspan="4">No mandates</td>
                    </tr>
                {% endif %}
                <tr>
                    <td colspan="4" class="text-center">
                        <a href="{% url 'top_up_new_becs' %}" class="btn btn-success btn-sm">
                            &#x1f195; New mandate &#x1f195;
                        </a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <hr>
        <h2>BECS NZ Direct Debit Mandates &#x1f3e6;</h2>
        <div class="table-responsive">
            <table class="table table-striped table-hover">
                <thead class="thead-dark">
                <tr>
                    <th>Account number</th>
                    <th>Bank</th>
                    <th>Reference</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                {% if becs_nz_mandates %}
                    {% for mandate in becs_nz_mandates %}
                        <tr>
                            <td>****{{ mandate.last4 }}</td>
                            <td>{{ mandate.bank }}</td>
                            <td>{{ mandate.ref }}</td>
                            <td>
                                <form action="{% url 'edit_becs_nz_mandate' mandate.id %}" method="post">
                                    {% csrf_token %}
                                    <div class="btn-group">
                                        <a href="{{ mandate.url }}"
                                           class="btn btn-info btn-sm">&#x1f440; View mandate</a>
                                        {% if not mandate.is_default and mandate.active %}
                                            <button type="submit" class="btn btn-primary btn-sm" name="action"
                                                    value="default">
                                                &#x1f4b8; Make default
                                            </button>
                                        {% endif %}
                                        <button type="submit" class="btn btn-danger btn-sm" name="action"
                                                value="delete">
                                            &#x1f5d1; Delete
                                        </button>
                                    </div>
                                </form>
                            </td>
                        </tr>
                    {% endfor %}

                {% else %}
                    <tr>
                        <td colspan="4">No mandates</td>
                    </tr>
                {% endif %}
                <tr>
                    <td colspan="4" class="text-center">
                        <a href="{% url 'top_up_new_becs_nz' %}" class="btn btn-success btn-sm">
                            &#x1f195; New mandate &#x1f195;
                        </a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <hr>
        <h2>Betalingsservice Mandates &#x1f3e6;</h2>
        <div class="table-responsive">
            <table class="table table-striped table-hover">
                <thead class="thead-dark">
                <tr>
                    <th>Account number</th>
                    <th>Bank</th>
                    <th>Reference</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                {% if betalingsservice_mandates %}
                    {% for mandate in betalingsservice_mandates %}
                        <tr>
                            <td>****{{ mandate.last4 }}</td>
                            <td>{{ mandate.bank }}</td>
                            <td>{{ mandate.ref }}</td>
                            <td>
                                <form action="{% url 'edit_betalingsservice_mandate' mandate.id %}" method="post">
                                    {% csrf_token %}
                                    <div class="btn-group">
                                        <a href="{{ mandate.url }}"
                                           class="btn btn-info btn-sm">&#x1f440; View mandate</a>
                                        {% if not mandate.is_default and mandate.active %}
                                            <button type="submit" class="btn btn-primary btn-sm" name="action"
                                                    value="default">
                                                &#x1f4b8; Make default
                                            </button>
                                        {% endif %}
                                        <button type="submit" class="btn btn-danger btn-sm" name="action"
                                                value="delete">
                                            &#x1f5d1; Delete
                                        </button>
                                    </div>
                                </form>
                            </td>
                        </tr>
                    {% endfor %}

                {% else %}
                    <tr>
                        <td colspan="4">No mandates</td>
                    </tr>
                {% endif %}
                <tr>
                    <td colspan="4" class="text-center">
                        <a href="{% url 'top_up_new_betalingsservice' %}" class="btn btn-success btn-sm">
                            &#x1f195; New mandate &#x1f195;
                        </a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <hr>
        <h2>PAD Direct Debit Mandates &#x1f3e6;</h2>
        <div class="table-responsive">
            <table class="table table-striped table-hover">
                <thead class="thead-dark">
                <tr>
                    <th>Account number</th>
                    <th>Bank</th>
                    <th>Reference</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                {% if pad_mandates %}
                    {% for mandate in pad_mandates %}
                        <tr>
                            <td>****{{ mandate.last4 }}</td>
                            <td>{{ mandate.bank }}</td>
                            <td>{{ mandate.ref }}</td>
                            <td>
                                <form action="{% url 'edit_pad_mandate' mandate.id %}" method="post">
                                    {% csrf_token %}
                                    <div class="btn-group">
                                        <a href="{{ mandate.url }}"
                                           class="btn btn-info btn-sm">&#x1f440; View mandate</a>
                                        {% if not mandate.is_default and mandate.active %}
                                            <button type="submit" class="btn btn-primary btn-sm" name="action"
                                                    value="default">
                                                &#x1f4b8; Make default
                                            </button>
                                        {% endif %}
                                        <button type="submit" class="btn btn-danger btn-sm" name="action"
                                                value="delete">
                                            &#x1f5d1; Delete
                                        </button>
                                    </div>
                                </form>
                            </td>
                        </tr>
                    {% endfor %}
                {% else %}
                    <tr>
                        <td colspan="4">No mandates</td>
                    </tr>
                {% endif %}
                <tr>
                    <td colspan="4" class="text-center">
                        <a href="{% url 'top_up_new_pad' %}" class="btn btn-success btn-sm">
                            &#x1f195; New mandate &#x1f195;
                        </a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <hr>
        <h2>SEPA Direct Debit Mandates &#x1f3e6;</h2>
        <div class="table-responsive">
            <table class="table table-striped table-hover">
                <thead class="thead-dark">
                <tr>
                    <th>Account country</th>
                    <th>Account number</th>
                    <th>Bank</th>
                    <th>Reference</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                {% if sepa_mandates %}
                    {% for mandate in sepa_mandates %}
                        <tr>
                            <td>{{ mandate.cc }}</td>
                            <td>
                                ****{{ mandate.last4 }}
                                {% if mandate.status == "pending" %}
                                    <span class="badge badge-warning">Pending</span>
                                {% elif mandate.status == "revoked" %}
                                    <span class="badge badge-danger">Revoked</span>
                                {% elif mandate.status == "refused" %}
                                    <span class="badge badge-danger">Refused</span>
                                {% endif %}
                                {% if mandate.is_default %}
                                    <span class="badge badge-info">Default</span>
                                {% endif %}
                            </td>
                            <td>{{ mandate.bank }}</td>
                            <td>{{ mandate.ref }}</td>
                            <td>
                                <form action="{% url 'edit_sepa_mandate' mandate.id %}" method="post">
                                    {% csrf_token %}
                                    <div class="btn-group">
                                        <a href="{{ mandate.url }}"
                                           class="btn btn-info btn-sm">&#x1f440; View mandate</a>
                                        {% if not mandate.is_default and mandate.active %}
                                            <button type="submit" class="btn btn-primary btn-sm" name="action"
                                                    value="default">
                                                &#x1f4b8; Make default
                                            </button>
                                        {% endif %}
                                        <button type="submit" class="btn btn-danger btn-sm" name="action"
                                                value="delete">
                                            &#x1f5d1; Delete
                                        </button>
                                    </div>
                                </form>
                            </td>
                        </tr>
                    {% endfor %}
                {% else %}
                    <tr>
                        <td colspan="5">No mandates</td>
                    </tr>
                {% endif %}
                <tr>
                    <td colspan="5" class="text-center">
                        <a href="{% url 'top_up_new_sepa' %}" class="btn btn-success btn-sm">
                            &#x1f195; New mandate &#x1f195;
                        </a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <hr>
        <h2>My subscriptions</h2>
        <div class="table-responsive table-striped table-hover table-striped">
            <table class="table">
                <thead class="thead-dark">
                <tr>
                    <th>State</th>
                    <th>Plan</th>
                    <th>Current usage</th>
                    <th>Next charge</th>
                    <th>Last billed</th>
                    <th>Last bill attempted</th>
                    <th>Amount unpaid</th>
                    <th>Next bill</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                {% if subscriptions %}
                    {% for subscription in subscriptions %}
                        <tr>
                            <td>
                                {% if subscription.state == "A" %}
                                    <span class="badge badge-success">Active</span>
                                {% elif subscription.state == "P" %}
                                    <span class="badge badge-warning">Past due</span>
                                {% elif subscription.state == "C" %}
                                    <span class="badge badge-danger">Cancelled</span>
                                {% endif %}
                            </td>
                            <td>{{ subscription.plan.name }}</td>
                            <td>{{ subscription.usage_in_period_label }}</td>
                            <td>&pound;{{ subscription.next_charge|floatformat:2 }}</td>
                            <td>{{ subscription.last_billed }}</td>
                            <td>{{ subscription.last_bill_attempted }}</td>
                            <td>&pound;{{ subscription.amount_unpaid|floatformat:2 }}</td>
                            <td>{{ subscription.next_bill }}</td>
                            <td>
                                <form action="{% url 'edit_subscription' subscription.id %}" method="post">
                                    {% csrf_token %}
                                    <div class="btn-group">
                                        {% if subscription.state == "P" %}
                                            <button type="submit" class="btn btn-success btn-sm" name="action"
                                                    value="retry">
                                                &#x1f501; Retry now
                                            </button>
                                        {% endif %}
                                    </div>
                                </form>
                            </td>
                        </tr>
                    {% endfor %}
                {% else %}
                    <tr>
                        <td colspan="7">No subscriptions</td>
                    </tr>
                {% endif %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}