{% extends 'billing/base.html' %}
{% load mathfilters %}
{% block content %}
    <div class="container my-3">
        <h1>Accounts</h1>
        <div class="btn-group my-3">
            <a href="{% url 'view_account_deferrals' %}" class="btn btn-primary">View deferrals</a>
            <a href="{% url 'view_vat_gb' %}" class="btn btn-primary">View VAT GB</a>
            <a href="{% url 'view_vat_moss' %}" class="btn btn-primary">View VAT MOSS</a>
            <a href="{% url 'view_vat_tr' %}" class="btn btn-primary">View VAT TR</a>
            {% if not has_freeagent_auth and perms.billing.change_billingconfig %}
                <a href="{% url 'link_freeagent' %}" class="btn btn-primary">Link to FreeAgent</a>
            {% elif has_freeagent_auth and perms.billing.add_freeagentinvoice %}
                <a href="{% url 'send_freeagent_invoice' %}" class="btn btn-primary">Send FreeAgent invoice</a>
            {% endif %}
        </div>
        <h2>Total balances: &pound;{{ total_balance|floatformat:2 }}</h2>
        <div class="table-responsive table-striped table-hover table-striped">
            <table class="table">
                <thead class="table-dark">
                <tr>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Balance</th>
                    <th>Pending balance</th>
                    <th>Stripe customer ID</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                {% for account in accounts %}
                    <tr>
                        <td>{{ account.user.first_name }} {{ account.user.last_name }}</td>
                        <td>{{ account.user.email }}</td>
                        <td>&pound;{{ account.balance|floatformat:2 }}</td>
                        <td>&pound;{{ account.pending_balance|floatformat:2 }}</td>
                        <td>{{ account.stripe_customer_id }}</td>
                        <td>
                            <div class="btn-group">
                                <a href="{% url 'view_account' account.user.username %}" class="btn btn-success btn-sm">View</a>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}