{% extends 'billing/base.html' %}
{% load mathfilters %}
{% block content %}
    <div class="container my-3">
        <h1>Account details</h1>
        <div class="row">
            <div class="col">
                <p>
                    Name: <b>{{ account.user.first_name }} {{ account.user.last_name }}</b><br/>
                    Email: <b>{{ account.user.email }}</b><br/>
                    Balance: <b>&pound;{{ account.balance|floatformat:2 }}</b><br/>
                    Completed and processing balance: <b>&pound;{{ account.processing_and_completed_balance|floatformat:2 }}</b><br/>
                    Pending balance: <b>&pound;{{ account.pending_balance|floatformat:2 }}</b><br/>
                    Stripe customer ID: <b>{{ account.stripe_customer_id }}</b>
                </p>
            </div>
            <div class="col">
                {% if perms.billing.add_ledgeritem %}
                    <a href="{% url 'charge_account' account.user.username %}" class="btn btn-success">Charge account</a>
                {% endif %}
            </div>
        </div>
        <hr>
        <h2>Saved cards</h2>
        <div class="table-responsive table-striped table-hover table-striped">
            <table class="table">
                <thead class="thead-dark">
                <tr>
                    <th>Billing name</th>
                    <th>Brand</th>
                    <th>Last 4 digits</th>
                    <th>Expiry</th>
                </tr>
                </thead>
                <tbody>
                {% if cards %}
                    {% for card in cards %}
                        <tr>
                            <td>
                                {{ card.billing_details.name }}
                                {% if card.id == user.account.default_stripe_payment_method_id %}
                                    <span class="badge badge-info">Default</span>
                                {% endif %}
                            </td>
                            <td>{{ card.card.brand|upper }}</td>
                            <td>*** *** **** {{ card.card.last4 }}</td>
                            <td>{{ card.card.exp_month|stringformat:"02d" }} / {{ card.card.exp_year }}</td>
                        </tr>
                    {% endfor %}
                {% else %}
                    <tr>
                        <td colspan="4">No saved cards</td>
                    </tr>
                {% endif %}
                </tbody>
            </table>
        </div>
        {% if perms.billing.view_subscription %}
            <hr>
            <h2>Subscriptions</h2>
            <div class="table-responsive table-striped table-hover table-striped">
                <table class="table">
                    <thead class="thead-dark">
                    <tr>
                        <th>State</th>
                        <th>Plan</th>
                        <th>Current usage</th>
                        <th>Next charge</th>
                        <th>Last billed</th>
                        <th>Last bill attempted</th>
                        <th>Next bill</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% if account.subscription_set.all %}
                        {% for subscription in account.subscription_set.all %}
                            <tr>
                                <td>
                                    {% if subscription.state == "A" %}
                                        <span class="badge badge-success">Active</span>
                                    {% elif subscription.state == "P" %}
                                        <span class="badge badge-warning">Past due</span>
                                    {% elif subscription.state == "C" %}
                                        <span class="badge badge-danger">Cancelled</span>
                                    {% endif %}
                                </td>
                                <td>{{ subscription.plan.name }}</td>
                                <td>{{ subscription.usage_in_period }} {{ subscription.plan.unit_label }}</td>
                                <td>&pound;{{ subscription.next_charge|floatformat:2 }}</td>
                                <td>{{ subscription.last_billed }}</td>
                                <td>{{ subscription.last_bill_attempted }}</td>
                                <td>{{ subscription.next_bill }}</td>
                            </tr>
                        {% endfor %}
                    {% else %}
                        <tr>
                            <td colspan="4">No subscriptions</td>
                        </tr>
                    {% endif %}
                    </tbody>
                </table>
            </div>
        {% endif %}
        {% if perms.billing.view_ledgeritem %}
            <hr>
            <h2>Transactions</h2>
            <div class="table-responsive table-striped table-hover table-striped">
                <table class="table">
                    <thead class="thead-dark">
                    <tr>
                        <th>Time</th>
                        <th>Description</th>
                        <th>Amount</th>
                        <th>Balance</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for item in account.ledgeritem_set.all %}
                        <tr>
                            <td>{{ item.timestamp }}</td>
                            <td>
                                {{ item.descriptor }}
                                {% if item.state == "P" %}
                                    <span class="badge badge-warning">
                                                Pending
                                            </span>
                                {% elif item.state == "S" %}
                                    <span class="badge badge-info">
                                                Processing
                                            </span>
                                {% elif item.state == "F" %}
                                    <span class="badge badge-danger">
                                                Failed
                                            </span>
                                {% endif %}
                            </td>
                            <td {% if item.amount >= 0 %}class="text-success"{% endif %}>
                                &pound;{{ item.amount|abs|floatformat:2 }}
                            </td>
                            <td>
                                {% if item.state == "C" %}
                                    {% if item.balance_at >= 0 %}
                                        &pound;{{ item.balance_at|floatformat:2 }}
                                    {% else %}
                                        -&pound;{{ item.balance_at|abs|floatformat:2 }}
                                    {% endif %}
                                {% elif item.state == "P" or item.state == "S" %}
                                    {% if item.balance_at >= 0 %}
                                        (&pound;{{ item.balance_at|floatformat:2 }})
                                    {% else %}
                                        (-&pound;{{ item.balance_at|abs|floatformat:2 }})
                                    {% endif %}
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        {% endif %}
    </div>
{% endblock %}