{% extends 'billing/base.html' %}
{% load mathfilters %}
{% block content %}
    <div class="container my-3">
        <h1>Account dashboard</h1>
        <div class="alert alert-info" id="notif-alert" style="display: none">
            <p>Get notifications about activity on your account?</p>
            <hr>
            <div class="btn-group">
                <button class="btn btn-success" id="btn-notif-yes">
                    Yes
                </button>
                <button class="btn btn-danger" id="btn-notif-no">
                    No
                </button>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <div class="card {% if account.balance < 0 %}border-danger{% elif account.balance < 5 %}border-warning{% else %}border-success{% endif %}">
                    <div class="card-header">
                        Balance &#x1f3e6;
                    </div>
                    <div class="card-body">
                        <p class="card-text">
                            &#x1f4b0; Available balance:<br/>
                            {% if account.balance >= 0 %}
                                &pound;{{ account.balance|floatformat:2 }}
                            {% else %}
                                -&pound;{{ account.balance|abs|floatformat:2 }}
                            {% endif %}
                        </p>
                        <p class="card-text">
                            &#x1f4b8; Pending balance:<br/>
                            {% if account.pending_balance >= 0 %}
                                &pound;{{ account.pending_balance|floatformat:2 }}
                            {% else %}
                                -&pound;{{ account.pending_balance|abs|floatformat:2 }}
                            {% endif %}
                            <br>
                            <small>Your pending balance is the sum of the amounts not available to spend.</small>
                        </p>
                        <a href="{% url 'top_up' %}" class="btn btn-primary btn-block">&#x1f4b7; Top-up &#x1f4b7;</a>
                    </div>
                </div>
                <div class="card mt-3">
                    <div class="card-body">
                        <a href="{% url 'statement_export' %}" class="btn btn-primary btn-block">&#x1f9fe; Statement
                            export &#x1f9fe;</a>
                    </div>
                </div>
            </div>
            <div class="col-md-9">
                <h2>Transactions &#x1f4dc;</h2>
                <div class="table-responsive table-striped table-hover table-striped">
                    <table class="table">
                        <thead class="thead-dark">
                        <tr>
                            <th>Time</th>
                            <th>Description</th>
                            <th>Amount</th>
                            <th>Balance</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        {% if active_subscriptions %}
                            <tr>
                                <th colspan="5">Upcoming subscription renewals</th>
                            </tr>
                            {% for sub in active_subscriptions %}
                                <tr class="text-muted">
                                    <td>{{ sub.next_bill }}</td>
                                    <td>{{ sub.plan.name }}</td>
                                    <td>&pound;{{ sub.next_charge|floatformat:2 }}</td>
                                    <td></td>
                                    <td></td>
                                </tr>
                            {% endfor %}
                            <tr>
                                <th colspan="5">Charges</th>
                            </tr>
                        {% endif %}
                        {% for item in ledger_items %}
                            <tr>
                                <td>{{ item.timestamp }}</td>
                                <td>
                                    {{ item.descriptor }}
                                    {% if item.is_reversal %}
                                        <span class="badge badge-primary">
                                            &#x21a9;&#xfe0f; Reversal
                                        </span>
                                    {% endif %}
                                    {% if item.state == "P" %}
                                        <span class="badge badge-warning">
                                            &#x23f3; Pending
                                        </span>
                                    {% elif item.state == "S" or item.state == "A" %}
                                        <span class="badge badge-info">
                                            &#x1f4c7; Processing
                                        </span>
                                    {% elif item.state == "F" %}
                                        <span class="badge badge-danger">
                                             &#x1f645; Failed
                                        </span>
                                    {% endif %}
                                </td>
                                <td {% if item.amount >= 0 %}class="text-success"{% endif %}>
                                    &pound;{{ item.amount|abs|floatformat:2 }}
                                </td>
                                <td>
                                    {% if item.state == "C" %}
                                        {% if item.balance_at >= 0 %}
                                            &pound;{{ item.balance_at|floatformat:2 }}
                                        {% else %}
                                            -&pound;{{ item.balance_at|abs|floatformat:2 }}
                                        {% endif %}
                                    {% elif item.state == "P" or item.state == "S" %}
                                        {% if item.balance_at >= 0 %}
                                            (&pound;{{ item.balance_at|floatformat:2 }})
                                        {% else %}
                                            (-&pound;{{ item.balance_at|abs|floatformat:2 }})
                                        {% endif %}
                                    {% endif %}
                                </td>
                                <td>
                                    {% if item.state == "P" %}
                                        {% if item.type == "C" or item.type == "O" or item.type == "G" or item.type == "N" or item.type == "P" or item.type == "I" %}
                                            <div class="btn-group">
                                                <a href="{% url 'complete_top_up_card' item.id %}"
                                                   class="btn btn-success btn-sm">&#x27a1;&#xfe0f; Complete</a>
                                                <a href="{% url 'fail_top_up' item.id %}" class="btn btn-danger btn-sm">&#x1f5d1;
                                                    Cancel</a>
                                            </div>
                                        {% elif item.type == "F" %}
                                            <div class="btn-group">
                                                <a href="{% url 'complete_top_up_bank_transfer' item.id %}" class="btn btn-success btn-sm">&#x27a1;&#xfe0f; Complete</a>
                                                <a href="{% url 'fail_top_up' item.id %}" class="btn btn-danger btn-sm">&#x1f5d1;
                                                    Cancel</a>
                                            </div>
                                        {% elif item.type == "E" %}
                                            <div class="btn-group">
                                                {#<a href="{% url 'complete_top_up_sepa_direct_debit' item.id %}" class="btn btn-success btn-sm">&#x27a1;&#xfe0f; Complete</a>#}
                                                <a href="{% url 'fail_top_up' item.id %}" class="btn btn-danger btn-sm">&#x1f5d1;
                                                    Cancel</a>
                                            </div>
                                        {% elif item.type == "S" %}
                                            <div class="btn-group">
                                                <a href="{% url 'complete_top_up_sources' item.id %}" class="btn btn-success btn-sm">&#x27a1;&#xfe0f; Complete</a>
                                                <a href="{% url 'fail_top_up' item.id %}" class="btn btn-danger btn-sm">&#x1f5d1;
                                                    Cancel</a>
                                            </div>
                                        {% elif item.type == "H" %}
                                            <div class="btn-group">
                                                {#<a href="{% url 'complete_top_up_checkout' item.id %}" class="btn btn-success btn-sm">&#x27a1;&#xfe0f; Complete</a>#}
                                                <a href="{% url 'fail_top_up' item.id %}" class="btn btn-danger btn-sm">&#x1f5d1;
                                                    Cancel</a>
                                            </div>
                                        {% elif item.type == "B" and item.charge_state %}
                                            <div class="btn-group">
                                                <a href="{% url 'complete_order' item.charge_state.id %}"
                                                   class="btn btn-success btn-sm">&#x27a1;&#xfe0f; Complete</a>
                                                <a href="{% url 'fail_charge' item.charge_state.id %}"
                                                   class="btn btn-danger btn-sm">&#x1f5d1; Cancel</a>
                                            </div>
                                        {% endif %}
                                    {% elif item.state == "A" and item.type == "D" %}
                                        <div class="btn-group">
                                            <a href="{% url 'toup_up_details' item.id %}"
                                                       class="btn btn-info btn-sm">&#x1f440; View details</a>
                                            <a href="{% url 'fail_top_up' item.id %}" class="btn btn-danger btn-sm">&#x1f5d1;
                                                Cancel</a>
                                        </div>
                                    {% elif item.state == "C" or item.state == "S" %}
                                        {% if item.type == "B" and item.charge_state %}
                                            <div class="btn-group">
                                                <a href="{% url 'order_details' item.charge_state.id %}"
                                                   class="btn btn-info btn-sm">&#x1f440; View details</a>
                                            </div>
                                        {% elif item.type == "C" or item.type == "O" or item.type == "G" or item.type == "N" or item.type == "P" or item.type == "I" or item.type == "F" or item.type == "E" or item.type == "S" or item.type == "H" %}
                                            <div class="btn-group">
                                                <a href="{% url 'toup_up_details' item.id %}"
                                                   class="btn btn-info btn-sm">&#x1f440; View details</a>
                                            </div>
                                        {% endif %}
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="alert alert-info">
                    All times are in UTC.<br/>
                    (&pound;X.XX) means a value pending and not currently applied to your balance.
                </div>
            </div>
        </div>
    </div>
    <script>
        function registerPush() {
            var serverKey = new Uint8Array(([
                0x04, 0xb1, 0x1f, 0x9d, 0x47, 0x95, 0xde, 0xca, 0x64, 0x4d, 0xa5, 0x97, 0x98, 0x62, 0x11, 0x32, 0xf6,
                0xb7, 0x52, 0x2e, 0x28, 0x1c, 0xef, 0x72, 0x96, 0x3b, 0xf0, 0xfc, 0x4f, 0xbe, 0xa5, 0xad, 0xc3, 0xcd,
                0x79, 0x5c, 0x71, 0x37, 0x88, 0xd3, 0x15, 0x1a, 0xf1, 0x17, 0x47, 0xf7, 0x13, 0x1a, 0xf0, 0x58, 0x1a,
                0x9c, 0x9b, 0x38, 0x06, 0x44, 0x01, 0x22, 0x58, 0xb4, 0x34, 0xe7, 0xe8, 0x1c, 0x3b
            ]));

            navigator.serviceWorker.getRegistration("/").then(function (serviceWorkerRegistration) {
                if (serviceWorkerRegistration) {
                    var options = {
                        userVisibleOnly: true,
                        applicationServerKey: serverKey
                    };
                    serviceWorkerRegistration.pushManager.subscribe(options).then(
                        function (pushSubscription) {
                            const subscriptionObject = JSON.stringify(pushSubscription);
                            fetch('/save_subscription/', {
                                method: 'POST',
                                headers: {
                                    'Content-Type': 'application/json'
                                },
                                body: subscriptionObject
                            })
                                .then(function (response) {
                                    if (!response.ok) {
                                        console.error('Bad status code from server.');
                                    }
                                });
                        }, function (error) {
                            console.error(error);
                        }
                    );
                }
            });
        }

        function checkNotifications() {
            var notif_alert = document.getElementById("notif-alert");
            var btn_yes = document.getElementById("btn-notif-yes");
            var btn_no = document.getElementById("btn-notif-no");

            if (!('serviceWorker' in navigator)) {
                return;
            }

            navigator.serviceWorker.register('/sw.js', {
                scope: "/"
            });

            if (!('PushManager' in window)) {
                return;
            }

            if (Notification.permission === "granted") {
                registerPush();
            } else if (Notification.permission !== "denied") {
                notif_alert.style.display = 'block';
                btn_yes.addEventListener('click', function askNotifications() {
                    notif_alert.style.display = 'none';
                    Notification.requestPermission().then(function (permission) {
                        if (permission === "granted") {
                            registerPush();
                        }
                    });
                });
                btn_no.addEventListener('click', function notifNo() {
                    notif_alert.style.display = 'none';
                });
            }
        }

        window.addEventListener('load', checkNotifications)
    </script>
{% endblock %}
