{% extends 'billing/base.html' %}
{% load mathfilters %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}
    <div class="container my-3">
        <h1>Your order</h1>
        {% if reversal %}
            <h2>Refunded</h2>
        {% endif %}
        <div class="row">
            <div class="col-12 col-lg-6">

                <p>
                    Order ID: <b>{{ charge.id }}</b><br/>
                    Created on: <b>{{ charge.ledger_item.timestamp }}</b>
                    {% if charge.ledger_item.completed_timestamp %}
                        <br/>Paid on: <b>{{ charge.ledger_item.completed_timestamp }}</b>
                    {% endif %}
                    {% if charge.payment_ledger_item and charge.payment_ledger_item.evidence_billing_address and charge.payment_ledger_item.evidence_billing_address.formatted_vat_id %}
                        <br/>Your VAT ID:
                        <b>{{ charge.payment_ledger_item.evidence_billing_address.formatted_vat_id }}</b>
                    {% endif %}
                    {% if vat_number %}
                        <br/>Our VAT ID: <b>{{ vat_number }}</b>
                    {% endif %}
                    {% if reversal %}
                        <br/>Refunded on: <b>{{ reversal.timestamp }}</b>
                    {% endif %}
                </p>
            </div>
            <div class="col-12 col-lg-6">
                {% if charge.payment_ledger_item and charge.payment_ledger_item.evidence_billing_address %}
                    Billed to:
                    <b>
                        {{ user.first_name }} {{ user.last_name }}<br/>
                        {{ charge.payment_ledger_item.evidence_billing_address.formatted|linebreaksbr }}
                    </b>
                {% endif %}
            </div>
        </div>
        <div class="row d-flex flex-column align-items-center">
            <div class="col-12 col-md-6">
                <h2>&pound;{{ charge.ledger_item.amount|mul:-1|floatformat:2 }}
                    for {{ charge.ledger_item.descriptor }}</h2>
                <table class="table table-borderless">
                    <tbody>
                    <tr>
                        <th scope="row" class="font-weight-normal">{{ charge.ledger_item.descriptor }}</th>
                        <td>&pound;{{ charge.ledger_item.amount|mul:-1|floatformat:2 }}</td>
                    </tr>
                    <tr>
                        <th scope="row" class="font-weight-normal">From account balance</th>
                        <td>&pound;{{ from_account_balance|floatformat:2 }}</td>
                    </tr>
                    <tr class="border-top">
                        <th scope="row">Left to be paid</th>
                        <td>&pound;{{ left_to_be_paid|floatformat:2 }}</td>
                    </tr>
                    {% if has_vat %}
                        <tr>
                            <th scope="row" class="font-weight-normal">VAT
                                @ {{ charge.payment_ledger_item.vat_rate|mul:100|floatformat:2 }}%
                            </th>
                            <td>&pound;{{ vat_charged|floatformat:2 }}</td>
                        </tr>
                    {% endif %}
                    {% if charge.payment_ledger_item %}
                        <tr class="border-top">
                            <th scope="row">
                                {{ charge.payment_ledger_item.descriptor }}
                                <a class="btn btn-sm btn-info" href="{% url 'toup_up_details' charge.payment_ledger_item.id %}">&#x1f440; View details</a>
                            </th>
                            <td>&pound;{{ charge.payment_ledger_item.charged_amount|floatformat:2 }}</td>
                        </tr>
                    {% endif %}
                    </tbody>
                </table>
            </div>

            {% if billing_country_name %}
                {% if has_vat %}
                    <p>We charged you the  taxes applicable in {{ billing_country_name }}.</p>
                {% else %}
                    <p>No taxes levied. Reverse charge procedure applies in the EU.</p>
                {% endif %}
            {% endif %}

            {% if charge.payment_ledger_item and charge.payment_ledger_item.stripe_climate_contribution %}
                <div class="alert alert-info">
                    <img src="{% static 'billing/imgs/climate-badge.svg' %}" alt="" style="height: 1.3rem;">
                    <b>&pound;{{ ledger_item.stripe_climate_contribution|floatformat:2 }}</b> was contributed towards
                    removing carbon from the atmosphere.
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}