{% load mathfilters %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Glauca Statement</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://as207960.net/assets/css/bootstrap.css">
    <style>
        body {
            background: none;
        }

        @media print {
            .container {
                padding: 0 !important;
                margin: 0 !important;
                max-width: none;
            }
        }
    </style>
</head>
<body>
<div class="container mt-5">
    <div class="row">
        <div class="col">
            <img src="https://as207960.net/assets/img/logo.svg" height="75" alt="">
            <span class="h3">AS207960 / Glauca</span>
            {% if account.billing_address %}
                <p class="mt-3">
                    {{ account.billing_address.formatted|linebreaksbr }}
                </p>
            {% endif %}
        </div>
        <div class="col">
            <h1>Statement of account</h1>
            <h2>For {{ account.user.first_name }} {{ account.user.last_name }}</h2>
            <p>
                {{ from_date }} - {{ to_date }}
            </p>
            <p class="lead">
                Balance: <b>{{ closing_balance|floatformat:2 }} GBP</b><br/>
                Total incoming: <b>{{ total_incoming|floatformat:2 }} GBP</b><br/>
                Total outgoing: <b>{{ total_outgoing|floatformat:2 }} GBP</b><br/>
            </p>
            {% if account.virtual_uk_bank %}
                <p>
                    Sort Code: <b>{{ account.virtual_uk_bank.formatted_sort_code }}</b><br/>
                    Account number: <b>{{ account.virtual_uk_bank.account_number }}</b>
                </p>
            {% endif %}
            {% if account.virtual_us_bank %}
                <p>
                    Bank name: <b>{{ account.virtual_us_bank.bank_name }}</b><br/>
                    Routing number: <b>{{ account.virtual_us_bank.routing_number }}</b><br/>
                    Account number: <b>{{ account.virtual_us_bank.account_number }}</b>
                </p>
            {% endif %}
        </div>
    </div>

    <table class="table">
        <thead>
        <tr>
            <th>Time</th>
            <th>Description</th>
            <th>In (GBP)</th>
            <th>Out (GBP)</th>
            <th>Balance (GBP)</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td></td>
            <td>Brought forward</td>
            <td></td>
            <td></td>
            <td>
                {{ starting_balance|floatformat:2 }}
            </td>
        </tr>
        {% for item in items %}
            <tr>
                <td>{{ item.timestamp }}</td>
                <td>
                    {{ item.descriptor }}
                    {% if item.is_reversal %}
                        <span class="badge bg-primary">Reversal</span>
                    {% endif %}
                    {% if item.stripe_climate_contribution %}
                        <img src="{% static 'billing/imgs/climate-badge.svg' %}" alt=""
                             style="height: 1.3rem;">
                    {% endif %}
                </td>
                {% if item.amount >= 0 %}
                    <td>{{ item.amount|abs|floatformat:2 }}</td>
                    <td></td>
                {% else %}
                    <td></td>
                    <td>{{ item.amount|abs|floatformat:2 }}</td>
                {% endif %}
                <td>
                    {% if item.balance_at >= 0 %}
                        {{ item.balance_at|floatformat:2 }}
                    {% else %}
                        -{{ item.balance_at|abs|floatformat:2 }}
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="alert alert-info">
        All times are in UTC.
    </div>

    <p class="mb-5">
        AS207960 Cyfyngedig, trading as Glauca Digital, is a limited company registered in Wales under company number
        12417574,
        having a registered office at 13 Pen-y-lan Terrace, Caerdydd, Cymru, CF23 9EU.
    </p>
</div>
<script>
    window.addEventListener('load', function () {
        setTimeout(function () {
            window.print();
            window.history.back();
        }, 100);
    });
</script>
</body>
</html>
