{% extends 'billing/base.html' %}
{% load billing %}
{% block content %}
    <div class="container my-3">
        <h1>Top-up from your bank account</h1>
        <h2>Please select which currency you will be sending.</h2>
        {% if taxable %}
            <p class="lead">
                Payments must be made from an account in the same country as your billing address, otherwise we'll have
                to return the funds (less any bank charges incurred).
            </p>
        {% endif %}
        <div class="row row-cols-1 row-cols-md-2 row-cols-xl-3 justify-content-center">
            <div class="col mb-4 d-flex">
                <div class="card text-center flex-grow-1">
                    <div class="card-body d-flex flex-column align-items-center justify-content-between">
                        <h3 class="display-4">&#x1f1ec;&#x1f1e7;</h3>
                        <h5 class="card-title">Pound Sterling</h5>
                        <p>
                            <small>SWIFT or CHAPS</small>
                        </p>
                        <a href="{% url 'complete_top_up_bank_details' id 'GBP' %}"
                           class="btn btn-primary align-self-stretch">Select</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
