{% extends 'billing/base.html' %}
{% block content %}
    <div class="container my-3">
        <h1>Top-up by bank transfer</h1>

        <p>
            Please send <b>{{ amount|floatformat:2 }} USD</b> (we'll update the final amount if the exchange
            rate changes before it clears) with a reference of <b>{{ ref }}</b> to our bank account to complete the payment.
        </p>

        <p>
            Account holder: <b>AS207960 Cyfyngedig</b><br/>
            Account number: <b>8310843615</b><br/>
            ACH routing number: <b>026073150</b><br/>
            Wire routing number: <b>026073008</b><br/>
            Account type: <b>Checking</b><br/>
            BIC: <b>CMFGUS33</b><br/>
            Bank address: <b>Community Federal Savings Bank, 89-16 Jamaica Avenue, New York, US</b><br/>
            Our address: <b>13 Pen-y-lan Terrace, Caerdydd, Cymru, CF23 9EU, GB</b><br/>
            Payment Schemes: <b>ACH/Wire/SWIFT</b>
        </p>

        <a href="{% url 'dashboard' %}" class="btn btn-primary">Back to dashboard</a>
    </div>
{% endblock %}
