{% extends 'billing/base.html' %}
{% block content %}
    <div class="container my-3">
        <h1>Top-up by bank transfer</h1>

        <p>
            Please send <b>{{ amount|floatformat:2 }} SGD</b> (we'll update the final amount if the exchange
            rate changes before it clears) with a reference of <b>{{ ref }}</b> to our bank account to complete the payment.
        </p>

        <p>
            Account holder: <b>AS207960 Cyfyngedig</b><br/>
            Account number: <b>213-433-6</b><br/>
            Bank code: <b>0516</b><br/>
            Our address: <b>13 Pen-y-lan Terrace, Caerdydd, Cymru, CF23 9EU, GB</b><br/>
            Bank address: <b>Wise Asia-Pacific Pte. Ltd, 1 Paya Lebar Link #13-06 - #13-08 PLQ 2, Paya Lebar Quarter, Singapore 408533</b><br/>
            Payment Schemes: <b>FAST/MEPS - No SWIFT</b>
        </p>

        <a href="{% url 'dashboard' %}" class="btn btn-primary">Back to dashboard</a>
    </div>
{% endblock %}
