{% extends 'billing/base.html' %}
{% block content %}
    <div class="container my-3">
        <h1>Top-up by bank transfer</h1>

        <p>
            Please send <b>{{ amount|floatformat:2 }} HUF</b> (we'll update the final amount if the exchange
            rate changes before it clears) with a reference of <b>{{ ref }}</b> to our bank account to complete the payment.
        </p>

        <p>
            Account holder: <b>AS207960 Cyfyngedig</b><br/>
            Account number: <b>12600016-18780582-14075044</b><br/>
            IBAN: <b>HU81 1260 0016 1878 0582 1407 5044</b><br/>
            Our address: <b>13 Pen-y-lan Terrace, Caerdydd, Cymru, CF23 9EU, GB</b><br/>
            Bank address: <b>Giro ZRT, Vadasz 31, Budapest, HU</b><br/>
            Payment Schemes: <b>Hungarian local bank transfer - No SWIFT</b>
        </p>

        <a href="{% url 'dashboard' %}" class="btn btn-primary">Back to dashboard</a>
    </div>
{% endblock %}
