{% extends 'billing/base.html' %}
{% load mathfilters %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}
    <style>

        @media print {
            #navbarNav, .navbar-toggler {
                display: none !important;
            }

            body {
                padding: 25px !important;
                margin: 0 !important;
            }

            .container {
                max-width: none;
            }

            .footer > .container > p:first-of-type {
                display: none;
            }

            .refund {
                display: none;
            }
        }
    </style>
    <div class="container my-3">
        <h1>Your top-up</h1>
        <div class="row">
            <div class="col-12 col-lg-6">

                <p>
                    Top-up ID: <b>{{ ledger_item.id }}</b><br/>
                    Created on: <b>{{ ledger_item.timestamp }}</b>
                    {% if ledger_item.completed_timestamp %}
                        <br/>Paid on: <b>{{ ledger_item.completed_timestamp }}</b>
                    {% endif %}
                </p>
            </div>
            <div class="col-12 col-lg-6">
                {% if ledger_item.evidence_billing_address %}
                    Billed to:
                    <b>{{ user.first_name }} {{ user.last_name }}</b><br/>
                    {{ ledger_item.evidence_billing_address.formatted|linebreaksbr }}
                {% endif %}
            </div>
        </div>
        <div class="row d-flex flex-column align-items-center">
            <div class="col-12 col-md-6">
                <table class="table table-borderless">
                    <tbody>
                    <tr>
                        <th scope="row" class="fw-normal">{{ ledger_item.descriptor }}</th>
                        <td>&pound;{{ ledger_item.amount|floatformat:2 }}</td>
                    </tr>
                    <tr class="border-top">
                        <th scope="row">
                            {{ charge_descriptor }}
                        </th>
                        <td>&pound;{{ ledger_item.amount|floatformat:2 }}</td>
                    </tr>
                    </tbody>
                </table>

                {% if ledger_item.stripe_climate_contribution %}
                    <div class="alert alert-info">
                        <img src="{% static 'billing/imgs/climate-badge.svg' %}" alt="" style="height: 1.3rem;">
                        <b>&pound;{{ ledger_item.stripe_climate_contribution|floatformat:2 }}</b> was contributed
                        towards
                        removing carbon from the atmosphere.
                    </div>
                {% endif %}

                <div class="refund">
                    {% if ledger_item.amount_refundable > 0 %}
                        <a href="{% url 'toup_up_refund' ledger_item.id %}" class="btn w-100 btn-secondary">Request
                            refund</a>
                    {% else %}
                        <p>This top-up cannot be refunded. Please contact us for details.</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}